:root {
    --page-background: linear-gradient(243deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0.00) 100%),
    linear-gradient(243deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0.00) 82.03%), #F39494;

    --input-background-color: #F5F5F5;

    --activ-element-color: #089FE0;
}


body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.form-section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px 10px;
    background: var(--page-background);

    box-sizing: border-box;
}


.form {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 90px 90px;
    width: 582px;
    box-sizing: border-box;

    border-radius: 10px;
    background: #FFFEFE;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.form__title,
.form__sub-title {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.form__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.36;
    color: #333;
}

.form__sub-title {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.36;
}

.form__enter-link {
    color: var(--activ-element-color);
    text-decoration-line: underline;
}

.form__fields {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

.form__input {
    display: block;
    margin-bottom: 22px;
    padding: 9px 9px 11px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background: var(--input-background-color);

    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #333;

    border: 1px solid var(--input-background-color);
}

.form__input::placeholder {
    color: #999;
    font-weight: 400;
    font-style: italic;
}

.form__input:focus,
.form__input:hover,
.form__input:not(:placeholder-shown) {
    background: #FFF;
    outline: none;
}

.form__input--first-name,
.form__input--last-name {
    width: 50%;
}

.form__input--first-name {
    border-radius: 5px 0 0 5px;
}

.form__input--last-name {
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #FFFFFF;
}

.form__button {
    display: block;
    padding: 9px 50px;
    border-radius: 5px;
    width: 100%;
    border: none;
    background: none;

    font-size: 18px;
    line-height: 1.36;
    font-weight: 400;
    text-align: center;
}

.form__button:hover,
.form__button:focus {
    opacity: 0.85;
}

.form__button--submit {
    position: relative;
    background-color: var(--activ-element-color);
    color: #FFFFFF;
}

.form__button--submit:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    display: block;
    width: 25px;
    height: 22px;
    background-image: url("./../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.form__agreement {
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 14px;
}

.form__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    gap: 4px;
}

.form__checkbox + label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #EEE;
    background-color: var(--input-background-color);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.form__checkbox:checked + label::before {
    border-color: var(--activ-element-color);
    background-color: var(--activ-element-color);
    background-image: url("./../images/checked.svg");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
    background-color: var(--activ-element-color);
    border-color: var(--activ-element-color);
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
    border-color: var(--activ-element-color);
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
}

.form__checkbox-link {
    color: var(--activ-element-color);
    text-decoration: none;
}